*
{
    margin: 0;
}
body { background-color: lightslategrey;}



.big
{
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(3,250px);
    background-color: lightgray;
    place-content: center;
    gap: 10px;
}



.cont1
{
    background-color: salmon;
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(4,50px);
    place-content: center;
    gap: 10px;
}
.box
{
    background-color: pink;
}


.cont2
{
    background-color: salmon;
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(4,50px);
    place-content: center;
    gap: 10px;
}
.cont2 .box
{
    background-color: gold;
}
.cont2 .box1
{
    background-color: gold;
    grid-area: 2/4/4/4;
}
.cont2 .box2
{
    background-color: gold;
    grid-area: 4/3/4/1;
}


